<a href="https://colab.research.google.com/github/callmebalzhan/blog/blob/master/hw_d1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
pepsi = 2
chocalate = 3
cheese = 3.5

print(pepsi+chocalate)
print(cheese+chocalate-pepsi)
print(pepsi+chocalate-cheese)
print(pepsi+chocalate+cheese)

5
4.5
1.5
8.5

In [5]:
var_int=2
var_float=1.5
var_str="Yes"
var_big=var_int*0.5
var_float=var_float-1
var_int/var_float
var_big/var_float

2.0